body {
	margin: 0px;
	background-color: #0f2033;
}

.nav {
	height: 4vw;
	background-color: #0f2033;
	display: flex;
	align-items: center;
	color: white;
	font-family: Gopher hairline, sans-serif;
}

.logo {
	margin-left: 3.75%;
	width: 5%;
	height: auto;
	animation: transitionIn 1s, ease-in-out;
}

@keyframes transitionIn {
	from{
		opacity: 0;
		transform: translateX(-20px);
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes fadewhite {
	from{
		background-color: #e08b65;
	}

	to {
		background-color: white;
	}
}

.navn {
	margin-left: 6%;
	font-size: 1.1vw;
	animation: transitionIn 2s, ease-in-out;
	font-family: Gopher;
}

a {
	text-decoration: none;
}

.all {
	width: 100%;
	height: 2000px;
	margin: 0px;
	display: inline-block;
	background-color: #0f2033;
}

.pattern {
	width: 50%;
	height: 2000px;
	background-color: #0f2033;
	margin: 0px;
}

.lefts {
	background-color: #e08b65;
	width: 12.5%;
	height: 0;
	padding-bottom: 100%;
	margin-left: 12.5%;
	float: left;
}

.homeleft1 {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	transition: background-color 400ms ease-in-out;
}

.homeleft2 {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	transition: background-color 400ms ease-in-out;
}

.lefttext {
	font-size: 1.1vw;
	text-align: center;
	margin: 0;
	padding-top: 5.2vw;
	padding-bottom: 6vw;
	font-family: Gopher light, sans-serif;
	color: white;
	transition: color 400ms ease-in-out;
}

.lefttext:hover {
	color: #0f2033;
}	

.homeleft1:hover {
	background-color: white;
	color: #0f2033;
}

.righties1 {
	width: 12.5%;
	height: 2000px;
	margin: 0px;
	float: left;
	margin-left: 37.5%;
}

.righties2 {
	width: 12.5%;
	height: 2000px;
	margin: 0px;
	float: left;
}

.righties3 {
	width: 12.5%;
	height: 2000px;
	margin: 0px;
	float: left;
}

.container {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}

.right1 {
	background-color: #656de0;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	margin: 0px;
	float: right;
	margin-bottom: 100%;
	text-align: center;
	perspective: 100px;
}

.right2 {
	background-color: #e08b65;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	margin: 0px;
	float: right;
	margin-bottom: 100%;
}

.right3 {
	background-color: #e08b65;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	margin: 0px;
	float: right;
	margin-bottom: 100%;
}

.right7 {
	background-color: #e08b65;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	margin: 0px;
	float: right;
	margin-bottom: 100%;
}

.right4 {
	background-color: #e08b65;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	margin: 0px;
	float: right;
	margin-bottom: 100%;
}

.right5 {
	background-color: #e08b65;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	margin: 0px;
	float: right;
	margin-top: 100%;
	margin-bottom: 100%;
	text-align: center;
}

.right6 {
	background-color: #e08b65;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	margin: 0px;
	float: right;
	margin-bottom: 100%;
}

.mflogo {
	width: 70%;
	margin-top: 14%;
}

.mohlogo {
	width: 70%;
	margin-top: 30%;
}

.svlogo {
	width: 70%;
	margin-top: 30%;
}

.container5 {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}